<?xml version="1.0" encoding="UTF-8"?>



<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>com.sap.ecm.gateway.mongodb.web</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.sap.ecm.gateway.mongodb.connection.EcmRepositoryContextListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.sap.ecm.gateway.commons.auth.AuthFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/atom/*</url-pattern>
		<url-pattern>/json/*</url-pattern>
		<url-pattern>/1.1/atom/*</url-pattern>
		<url-pattern>/1.1/json/*</url-pattern>
		<url-pattern>/repo/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ProfilingFilter</filter-name>
		<filter-class>com.sap.ecm.gateway.commons.profiling.ProfilingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ProfilingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>ProxyFilter</filter-name>
		<filter-class>com.sap.ecm.gateway.commons.proxy.ProxyFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ProxyFilter</filter-name>
		<url-pattern>/atom/*</url-pattern>
		<url-pattern>/json/*</url-pattern>
		<url-pattern>/1.1/atom/*</url-pattern>
		<url-pattern>/1.1/json/*</url-pattern>
	</filter-mapping>
	

	<servlet>
		<servlet-name>cmisatom10</servlet-name>
		<servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
		<init-param>
			<param-name>callContextHandler</param-name>
			<param-value>com.sap.ecm.gateway.mongodb.connection.EcmCallContextHandler</param-value>
		</init-param>
		<init-param>
			<param-name>cmisVersion</param-name>
			<param-value>1.0</param-value>
		</init-param>
		
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>cmisatom10</servlet-name>
		<url-pattern>/atom/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cmisatom11</servlet-name>
		<servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
		<init-param>
			<param-name>callContextHandler</param-name>
			<param-value>com.sap.ecm.gateway.mongodb.connection.EcmCallContextHandler</param-value>
		</init-param>
		<init-param>
			<param-name>cmisVersion</param-name>
			<param-value>1.1</param-value>
		</init-param>
		
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>cmisatom11</servlet-name>
		<url-pattern>/1.1/atom/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cmisbrowser</servlet-name>
		<servlet-class>org.apache.chemistry.opencmis.server.impl.browser.CmisBrowserBindingServlet</servlet-class>
		<init-param>
			<param-name>callContextHandler</param-name>
			<param-value>com.sap.ecm.gateway.mongodb.connection.EcmCallContextHandler</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>cmisbrowser</servlet-name>
		<url-pattern>/json/*</url-pattern>
		<url-pattern>/1.1/json/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>accountoperator</servlet-name>
		<servlet-class>com.sap.ecm.gateway.mongodb.servlet.AccountOperatorServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>accountoperator</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ping</servlet-name>
		<servlet-class>com.sap.ecm.gateway.mongodb.servlet.PingServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ping</servlet-name>
		<url-pattern>/ping</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>repo</servlet-name>
		<servlet-class>com.sap.ecm.gateway.mongodb.servlet.RepositoryAdminServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>repo</servlet-name>
		<url-pattern>/repo/*</url-pattern>
	</servlet-mapping>

	<!--<servlet>-->
		<!--<servlet-name>disasterRecovery</servlet-name>-->
		<!--<servlet-class>com.sap.ecm.gateway.mongodb.servlet.DisasterRecoveryServlet</servlet-class>-->
	<!--</servlet>-->

	<!--<servlet-mapping>-->
		<!--<servlet-name>disasterRecovery</servlet-name>-->
		<!--<url-pattern>/disaster/*</url-pattern>-->
	<!--</servlet-mapping>-->

	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

</web-app>