<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>com.sap.core.jpaas.security.saml2.testidp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SSOService</servlet-name>
    <servlet-class>com.sap.core.jpaas.security.saml2.localidp.SSOService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSOService</servlet-name>
    <url-pattern>/sso/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SLOService</servlet-name>
    <servlet-class>com.sap.core.jpaas.security.saml2.localidp.SLOService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SLOService</servlet-name>
    <url-pattern>/slo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>metadata</servlet-name>
    <jsp-file>/metadata.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>metadata</servlet-name>
    <url-pattern>/metadata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>certificate</servlet-name>
    <jsp-file>/certificate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>certificate</servlet-name>
    <url-pattern>/certificate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IDPLOService</display-name>
    <servlet-name>IDPLOService</servlet-name>
    <servlet-class>com.sap.core.jpaas.security.saml2.localidp.IDPLOService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDPLOService</servlet-name>
    <url-pattern>/IDPLOService</url-pattern>
  </servlet-mapping>
</web-app>