<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>com.sap.cloud.security.oauth2.as</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
  </error-page>
  
  <error-page>
        <error-code>403</error-code>
        <location>/error.jsp</location>
  </error-page>
  
  <servlet>
    <servlet-name>RegisterClientServlet</servlet-name>
    <servlet-class>com.sap.cloud.security.oauth2.as.local.client.RegisterClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterClientServlet</servlet-name>
    <url-pattern>/register_client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterScopeServlet</servlet-name>
    <servlet-class>com.sap.cloud.security.oauth2.as.local.scopes.RegisterScopeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterScopeServlet</servlet-name>
    <url-pattern>/register_scope</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AuthorizationCode</servlet-name>
    <servlet-class>com.sap.cloud.security.oauth2.as.local.code.AuthorizationCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizationCode</servlet-name>
    <url-pattern>/authorize</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthorizationCode</servlet-name>
    <url-pattern>/api/v1/authorize</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerateAuthorizationCode</servlet-name>
    <servlet-class>com.sap.cloud.security.oauth2.as.local.code.GenerateAuthorizationCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateAuthorizationCode</servlet-name>
    <url-pattern>/generate_authz_code</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CsrfFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CsrfPreventionFilter</filter-class>
    <init-param>
      <param-name>entryPoints</param-name>
      <param-value>/authorize,/api/v1/authorize</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CsrfFilter</filter-name>
    <url-pattern>/authorize</url-pattern>
    <url-pattern>/api/v1/authorize</url-pattern>
    <url-pattern>/generate_authz_code</url-pattern>
  </filter-mapping>

  <login-config>
    <auth-method>FORM</auth-method>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/authorize</url-pattern>
      <url-pattern>/api/v1/authorize</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Everyone</role-name>
    </auth-constraint>
  </security-constraint>

  <servlet>
    <servlet-name>AccessTokenServlet</servlet-name>
    <servlet-class>com.sap.cloud.security.oauth2.as.local.endpoints.AccessTokenEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessTokenServlet</servlet-name>
    <url-pattern>/token</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccessTokenServlet</servlet-name>
    <url-pattern>/api/v1/token</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Public</web-resource-name>
      <url-pattern>/error.jsp</url-pattern>
      <url-pattern>/styles/login.css</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>VerifyTokenEndpoint</display-name>
    <servlet-name>VerifyTokenEndpoint</servlet-name>
    <servlet-class>com.sap.cloud.security.oauth2.as.local.endpoints.VerifyTokenEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyTokenEndpoint</servlet-name>
    <url-pattern>/token/info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyTokenEndpoint</servlet-name>
    <url-pattern>/api/v1/token/info</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.sap.cloud.security.oauth2.as.local.init.DestinationInitializer</listener-class>
  </listener>
</web-app>
